.tree .nodeContainer {
  position: relative; /*To make Pseudo Children lines*/
}

/*.tree li {
  padding: 4px;
}*/

.tree ul {
  list-style: none;
  padding-left: 32px;
}

.tree .node {
  padding-left: 8px;
}

/*
* take our pseudo-elements,
* make sure they are empty and move them
* In this case: left of the list elements..
*/

.tree .connectors {
  position: absolute;
}


/*
* The ::before pseudo-element is used to draw the horizontal lines.
*/

.hor {
  border-top: 1px solid #00ff00;
  top: 9px;
  width: 4%;
  height: 0;
  left: -12px;
}

/*
* ...and the vertical lines use the ::after pseudo-element.
*/
.firstChild {
  border-left: 1px solid #00ff00;
  height: 32%;
  width: 0px;
  top: 2px;
  left: -12px;
}

.sibling {
  border-left: 1px solid #ff0000;
  height: 100%;
  width: 0px;
  top: 16px;
  left: 8px;
}

.parent {
  border-left: 1px solid #ff00ff;
  width: 0px;
  right: 0px;
}

