.code-highlighter{
  display:flex;
  background: #232323;
  border: 1px solid grey;
}
.line-highlighter{
  position: absolute;
  width: 453px;
  height: 12px;
  top: 0px;
  left: -2px;
  border: 2px solid red;
}
.code-button {
  position: absolute;
  top:-8px;
  right: 10px;
}

.code-button button {
  border: 1px solid black;
  border-radius: 8px;
  background: yellow;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 12px;
  font-family: monospace;
}


.code-highlighter pre{
  margin: 0px;
}
.code-line-container{
  background: lightgrey;
  display:flex;
  flex-direction: column;
  font-family: monospace;
  padding-top: .5em;
  padding-bottom: .5em;
}

.code-line-container span{
  padding-right: 8px;
  padding-left: 2px;
  position: relative;
}