.tree  {
  position: relative;
}

.tree li {
  padding: 24px;
}

.tree ul {
  list-style: none;
  padding-left: 54px;
  margin: 0;
}

.tree .node {
  display: inline-block;
  text-align: center;
  width: 50px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background: #c8e4f8;
  color: #000000;
}

.tree .active {
  background: greenyellow;
  color: #000000;
}






