body {
  background-color: #d0cdcd;
}

.container {
  padding: 4px;
  border: solid #999b9b 1px;
  background-color: white;
  border-radius: 4px;
  margin-top: 6px;
  margin-right: 4px;
  position: relative;
}

.container-title{
  position: absolute;
  top:-10px;
  right: 10px;
  background-color: black;
  border: solid white 1px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  font-family: monospace;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 4px;

}

.app-container {
  display: flex;
  width: 100%;
}

.code-container{
  display:flex;
  flex-direction: column;
}

.fiber-container{
  flex: 1;
}

.DOM-container{
  flex: 1;
}


.disabled {
  border: 1px solid darkgrey;
  background: lightgrey;
  padding: 4px;
  color: white;
}